In [5]:
from sqlalchemy import create_engine
import pandas as pd

engine2 = create_engine('mysql+pymysql://root:asteriskReporT@80.90.84.116:3306/cdr_billing')
connection2 = engine2.connect()
dataid = 1022
resoverall = connection2.execute("SELECT * FROM cdr_billing.cdr_billing_201706_live LIMIT 1000000")


df = pd.DataFrame(resoverall.fetchall())
df.columns = resoverall.keys()
df.head()

,id,uniqueid,client_name,provider_name,CLIENT_PEER,src,PROVIDER_PEER,dst,billsec,calldate,...,cost_surcharge_rate_id,cost_raw_surcharge,provider_surcharge_processed,client_FROM,client_PAI,client_SRC_surcharge,provider_FROM,provider_PAI,provider_SRC_surcharge,invoice_billsec
0,1700660559,DE01-1498341603.13243061,calltrade,OTE,213.232.139.64,81464789654,OTE_04,221769387999,5,2017-06-25 00:00:03,...,0.0,None,0,81464789654,81464789654,81464789654,,,81464789654,None
1,1700660560,DE01-1498341605.13243069,calltrade,OTE,213.232.139.64,81464732928,OTE_04,221766817661,5,2017-06-25 00:00:05,...,0.0,None,0,81464732928,81464732928,81464732928,,,81464732928,None
2,1700660561,DE01-1498341606.13243079,calltrade,OTE,213.232.137.64,81403113937,OTE_04,221764000688,5,2017-06-25 00:00:06,...,0.0,None,0,81403113937,81403113937,81403113937,,,81403113937,None
3,1700660562,DE01-1498341604.13243065,calltrade,OTE,213.232.137.64,81490765195,OTE_04,221762289313,8,2017-06-25 00:00:04,...,0.0,None,0,81490765195,81490765195,81490765195,,,81490765195,None
4,1700660563,DE01-1498341607.13243090,calltrade,OTE,213.232.139.64,81414168282,OTE_03,221761119135,6,2017-06-25 00:00:07,...,0.0,None,0,81414168282,81414168282,81414168282,,,81414168282,None

In [6]:
df.shape

(1000000, 46)